<h1>Editing Post</h1>

<section>
	<div style="width: 70%; margin: 0 auto;">
		<%= render 'form', post: @post %>

		<p style="text-align: right"> <%= link_to 'Back', @post %> |
		<%= link_to 'TimeLine', posts_path %></p>
	</div>
</section>
